{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_confirm_tos_control %}
    {% if config('SasEsd.config.isShowESDWithdrawal') == true %}
        {% set productIds = [] %}
        {% for lineItem in page.cart.lineItems %}
            {% set productIds = productIds|merge([lineItem.id]) %}
        {% endfor %}

        {% set esd = searchEsdByProductIds(productIds, context.context) %}
        {% if esd.count %}
            <div class="form-check">
                <input type="checkbox"
                       class="checkout-confirm-tos-checkbox form-check-input{% if formViolations.getViolations('/waiveRightOfRescission') is not empty %} is-invalid{% endif %}"
                       required="required"
                       id="waiveRightOfRescission"
                       form="confirmOrderForm"
                       name="waiveRightOfRescission"/>
                <label for="waiveRightOfRescission"
                       class="checkout-confirm-tos-label custom-control-label">
                    {{ "sasEsd.checkout.confirmESD"|trans()|sw_sanitize }}
                </label>
            </div>
        {% endif %}
        {{ parent() }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
