<div>
    <sw-card :title="$tc('sas-esd.tab.esdCard.title')">
        <sw-media-upload-v2
            uploadTag="my-upload-tag"
            variant="regular"
            allowMultiSelect="true"
            variant="regular"
            autoUpload="true"
            :label="$tc('sas-esd.tab.esdCard.mediaUpload.label')">
        </sw-media-upload-v2>
    </sw-card>
</div>
