@import "~scss/variables";

.sas-product-detail-esd__generated-esd {

    .sw-card__content {
        padding: 0;
    }

    .sw-media-upload-v2 {
        padding: 30px 30px 0 30px;
    }

    .sw-data-grid__table {
        border-top: solid 1px $color-steam-cloud;
        border-bottom: solid 1px $color-steam-cloud;
    }

    .sw-field--switch {
        padding: 0 30px;
    }
}

.sas-product-detail-esd__esd-list {
  padding-top: 30px;

  .sw-data-grid__bulk-selected {
    margin-left: 37px;
  }
}
