{% block sas_product_detail_esd %}
<div class="sas-product-detail-esd__generated-esd">
    <div class="sas-product-detail-esd__alert"
         v-if="isShowDownloadMailAlert || isShowSerialMailAlert">
        <div class="h6">{{ $tc('sas-esd.alertMailSettingTitle') }}</div>
        <p v-if="isShowDownloadMailAlert && isShowSerialMailAlert">
            <span v-html="$tc('sas-esd.alertMailSetting')"></span>
        </p>
        <p v-else-if="isShowDownloadMailAlert && !isShowSerialMailAlert">
            <span v-html="$tc('sas-esd.alertDownloadMailSetting')"></span>
        </p>
        <p v-else>
            <span v-html="$tc('sas-esd.alertSerialMailSetting')"></span>
        </p>
    </div>

    <template v-if="isLoadedEsd || isLoadedEsdMedia">
        <sw-card :hero="false">

            <sw-upload-listener
                    :uploadTag="product.id"
                    @media-upload-finish="onSetMediaItem"
                    autoUpload>
            </sw-upload-listener>

            <sw-media-upload-v2
                    variant="regular"
                    defaultFolder="sas_product_esd"
                    :label="$tc('sas-esd.media.label')"
                    :uploadTag="product.id"
                    :fileAccept="fileAccept"
                    @media-drop="onMediaDropped">
            </sw-media-upload-v2>

            <sw-data-grid class="sas-product-detail-esd__esd-list"
                          v-if="esdMedia && esdMedia.length > 0"
                          :dataSource="esdMedia"
                          :columns="mediaColumns"
                          :fullPage="false"
                          :showSettings="false"
                          :allowColumnEdit="false"
                          :allowInlineEdit="false"
                          :compactMode="false"
                          @selection-change="onSelectionChanged">
                <template #preview-fileName="{ item }">
                    <sw-media-preview-v2 :source="item.id" :mediaIsPrivate="item.private"></sw-media-preview-v2>
                </template>

                <template #actions="{ item }">
                    <sw-context-menu-item variant="danger" @click="onDeleteMediaItem(item.id)">
                        {{ $tc('global.default.delete') }}
                    </sw-context-menu-item>
                </template>

                <template #bulk>
                    <a class="link link-danger" @click="onDeleteSelectedMedia">
                        {{ $tc('global.default.delete') }}
                    </a>
                </template>
            </sw-data-grid>
        </sw-card>

        <sw-card :title="$tc('sas-esd.serialModal.title')"
                 v-if="esdMedia && esdMedia.length > 0">

            <sw-switch-field :label="$tc('sas-esd.serialModal.serialSwitch')"
                             v-model="product.extensions.esd.hasSerial">
            </sw-switch-field>

            <div v-if="product.extensions.esd.hasSerial"
                 class="sas-esd-serial-overview">
                <sas-esd-serial-overview
                    @serial-open="openModal('serialModal')"
                ></sas-esd-serial-overview>
            </div>
        </sw-card>

        <sw-card :title="$tc('sas-esd.downloadLimit.title')"
                 v-if="esdMedia && esdMedia.length > 0">
            <sw-switch-field :label="$tc('sas-esd.downloadLimit.customLimitToggle')"
                             v-model="product.extensions.esd.hasCustomDownloadLimit">
            </sw-switch-field>

            <template v-if="product.extensions.esd.hasCustomDownloadLimit">
                <sw-switch-field :disabled="!product.extensions.esd.hasCustomDownloadLimit"
                                 :label="$tc('sas-esd.downloadLimit.unlimitedToggle')"
                                 v-model="product.extensions.esd.hasUnlimitedDownload">
                </sw-switch-field>

                <sw-field v-if="!product.extensions.esd.hasUnlimitedDownload"
                          class="sas-product-detail-esd__download-limit-number"
                          type="number"
                          :placeholder="$tc('sas-esd.downloadLimit.downloadLimitPlaceholder')"
                          :label="$tc('sas-esd.downloadLimit.downloadLimitLabel')"
                          v-model="product.extensions.esd.downloadLimitNumber">
                </sw-field>
            </template>
        </sw-card>
    </template>
</div>
{% endblock %}
