{% block sas_product_detail_esd %}
<div>
    <sw-card :hero="false" class="sas-product-detail-esd__generated-esd">

        <sw-upload-listener
            :uploadTag="product.id"
            @media-upload-finish="onSetMediaItem"
            autoUpload>
        </sw-upload-listener>
        <sas-media-upload
            :label="$tc('sas-esd.media.label')"
            variant="regular"
            :source="mediaItem"
            :uploadTag="product.id"
            :allowMultiSelect="false"
            defaultFolder="sas_product_esd"
            :fileAccept="fileAccept"
            @media-drop="onMediaDropped"
            @media-upload-remove-image="onRemoveMediaItem">
        </sas-media-upload>

        <sw-switch-field :label="$tc('sas-esd.serialSwitch')" v-model="product.extensions.esd.hasSerial"></sw-switch-field>

    </sw-card>

    <sw-card
        :large="false"
        v-if="product.extensions.esd.hasSerial"
        class="sas-esd-serial-overview">

        <sas-esd-serial-overview
            @serial-open="openModal('serialModal')"
        ></sas-esd-serial-overview>

    </sw-card>

</div>
{% endblock %}
