<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>ESD Configuration</title>
        <title lang="de-DE">ESD Konfiguration</title>
        <component name="sw-entity-single-select">
            <name>exampleProduct</name>
            <entity>state_machine_state</entity>
            <title>Choose a product for the plugin configuration</title>
        </component>
    </card>
</config>
