<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>ESD Configuration</title>
        <title lang="de-DE">ESD Konfiguration</title>

        <input-field type="bool">
            <name>isEsdVideo</name>
            <label>ESD support for the video</label>
            <label lang="de-DE">Esd support for the video</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>isNotDownloadLimitation</name>
            <label>No download limitation</label>
            <label lang="de-DE">Kein Download Limit</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="int">
            <name>limitDownloadNumber</name>
            <label>Enter the global number of the maximal amount of downloads.</label>
            <label lang="de-DE">Gebe die Anzahl der maximalen globalen Downloads ein.</label>
            <defaultValue>0</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>isShowESDWithdrawal</name>
            <label>Show ESD withdrawal within checkout</label>
            <label lang="de-DE">ESD Widerrufsrecht an der Kasse anzeigen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>isShowInstantESDDownload</name>
            <label>Show instant download available</label>
            <label lang="de-DE">Sofortigen Download anzeigen verfügbar</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>isPublicMedia</name>
            <label>Is public media</label>
            <label lang="de-DE">Ist öffentliche Medien</label>
            <defaultValue>false</defaultValue>
            <helpText>If it is public, your file will be able to found in the media</helpText>
            <helpText lang="de-DE">Wenn es öffentlich ist, kann Ihre Datei in den Medien gefunden werden</helpText>
        </input-field>

        <input-field type="bool">
            <name>isDisableZipFile</name>
            <label>Disable compression to zip file</label>
            <label lang="de-DE">Deaktivieren Sie die Komprimierung in eine Zip-Datei</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>isSendDownloadConfirmation</name>
            <disabled>true</disabled>
            <label>Sending download confirmation email (Moved to use Flow builder)</label>
            <label lang="de-DE">Download Bestätigungs Email senden (Umstellung auf Flow Builder)</label>
        </input-field>

        <input-field type="bool">
            <name>isSendSerialConfirmation</name>
            <disabled>true</disabled>
            <label>Sending serial number confirmation email (Moved to use Flow builder)</label>
            <label lang="de-DE">Seriennummer Bestätigungs Email senden (Umstellung auf Flow Builder)</label>
        </input-field>

    </card>
</config>
