{% block sas_esd_serial_overview %}
<div>
    <div class="sas-esd-serial-overview" v-if="!isLoading && serials && serials.length > 0">

        {% block  sas_esd_serial_overview_option_list_toolbar %}
            <div class="sw-configuration-option-list__toolbar">
                {% block  sas_esd_serial_overview_option_list_toolbar_container %}
                    <sw-container columns="1fr minmax(50px, max-content) minmax(100px, 180px) minmax(100px, 180px)" gap="0 10px">
                        {% block  sas_esd_serial_overview_option_list_toolbar_buttons %}
                            <sw-button variant="ghost" @click="openModal('serialModal')">
                                {{ $tc('sas-esd.serialModal.buttonOpen') }}
                            </sw-button>
                            <sw-button variant="ghost" @click="openModal('csvModal')">
                                {{ $tc('sas-esd.sas-esd-modal-csv.buttonImport') }}
                            </sw-button>
                        {% endblock %}
                    </sw-container>
                {% endblock %}
            </div>
        {% endblock %}

        {% block sas_esd_serial_overview_data_grid %}
            <sw-data-grid
                class="sas-esd-serial-overview__data-grid"
                :dataSource="serials"
                :columns="serialColumns"
                :isLoading="isLoading"
                :showSettings="true"
                :sortBy="sortBy"
                :sortDirection="sortDirection"
                @column-sort="onSortColumn"
                @selection-change="onSelectionChanged"
                identifier="sas-esd-overview">

                {% block sw_product_variants_overview_data_grid_column_stock %}
                    <template slot="column-esdOrder.orderLineItem.order.orderCustomer.firstName" slot-scope="{ item }">
                        <span v-if="item.esdOrder">
                            <router-link :to="{ name: 'sw.customer.detail', params: { id: item.esdOrder.orderLineItem.order.orderCustomer.customerId } }">
                                {{ item.esdOrder.orderLineItem.order.orderCustomer.firstName }} {{ item.esdOrder.orderLineItem.order.orderCustomer.lastName }}
                            </router-link>
                        </span>
                    </template>
                {% endblock %}

                {% block sas_esd_serial_overview_data_grid_action_modals %}
                <template slot="action-modals" slot-scope="{ item }">
                    <sw-modal v-if="showDeleteModal === item.id"
                              @modal-close="onCloseDeleteModal"
                              :title="$tc('sas-esd.serial.deleteModalTitle')"
                              variant="small">

                        <p class="sw-product-variants-overview__modal--confirm-delete-text">
                            {{ $tc('sas-esd.serial.deleteModalMessage') }}
                        </p>

                        <template slot="modal-footer">
                            {% block sw_product_variants_overview_data_grid_action_modals_buttons %}
                                <sw-button @click="onCloseDeleteModal"
                                           size="small"
                                           :disabled="modalLoading">
                                    {{ $tc('global.default.cancel') }}
                                </sw-button>
                                <sw-button @click="onConfirmDelete(item)"
                                           variant="primary"
                                           size="small"
                                           :disabled="modalLoading">
                                    {{ $tc('global.default.delete') }}
                                </sw-button>
                            {% endblock %}
                        </template>
                    </sw-modal>
                </template>

                <template #bulk-modals>
                    <sw-modal v-if="showDeleteListModal"
                              key="modalDeleteList"
                              :title="$tc('sas-esd.serial.deleteModalTitle')"
                              @modal-close="onCloseDeleteModal"
                              variant="small">

                        <p class="sw-product-variants-overview__modal--confirm-delete-text">
                            {{ $tc('sas-esd.serial.deleteModalMessage') }}
                        </p>

                        <template #modal-footer>
                            <slot name="bulk-modal-cancel">
                                <sw-button @click="showDeleteListModal = false"
                                           size="small"
                                           :disabled="modalLoading">
                                    {{ $tc('global.default.cancel') }}
                                </sw-button>
                            </slot>

                            <slot name="bulk-modal-delete-items">
                                <sw-button @click="onConfirmDeleteItems()"
                                           variant="primary"
                                           size="small"
                                           :disabled="modalLoading">
                                    {{ $tc('global.default.delete') }}
                                </sw-button>
                            </slot>
                        </template>
                    </sw-modal>
                </template>
                {% endblock %}

                {% block sas_esd_serial_overview_data_grid_actions %}
                    <template slot="actions" slot-scope="{ item }">
                        {% block sas_esd_serial_overview_data_grid_actions_items %}
                            <sw-context-menu-item variant="danger" @click="onEsdDelete(item)">
                                {{ $tc('sas-esd.contextMenuDelete') }}
                            </sw-context-menu-item>
                        {% endblock %}
                    </template>
                {% endblock %}

                {% block ssas_esd_serial_overview_data_grid_pagination %}
                    <template #pagination>
                        <sw-pagination :page="page"
                                       :limit="limit"
                                       :total="total"
                                       :total-visible="7"
                                       @page-change="onPageChange">
                        </sw-pagination>
                    </template>
                {% endblock %}

                <template #bulk>
                    <a class="link link-danger" @click="showDeleteListModal = true">
                        {{ $tc('global.default.delete') }}
                    </a>
                </template>
            </sw-data-grid>
        {% endblock %}
    </div>

    {% block sas_esd_serial_overview_empty_state %}
        <div v-else>
            <template>
                <div class="sas-esd-serial-overview__empty-state-inner">
                    <img :src="'/administration/static/img/empty-states/products-empty-state.svg' | asset">

                    <div class="sas-esd-serial-overview__empty-state-inner--label">
                        <p>{{ $tc('sas-esd.emptyStateSerialDescription') }}</p>
                    </div>

                    {% block sas_product_detail_esd_add %}
                    <sw-button-group>
                        <sw-button variant="ghost" @click="openModal('serialModal')" :disabled="false">
                            {{ $tc('sas-esd.serialModal.buttonOpen') }}
                        </sw-button>
                        <sw-button variant="ghost" @click="openModal('csvModal')" :disabled="false">
                            {{ $tc('sas-esd.sas-esd-modal-csv.buttonImport') }}
                        </sw-button>
                    </sw-button-group>
                    {% endblock %}
                </div>
            </template>
        </div>
    {% endblock %}

    {% block sas_product_detail_esd_modal_serial %}
        <sas-esd-modal-serial
            v-if="activeModal === 'serialModal'"
            @modal-close="updateSerials"
            @serial-updated="updateSerials">
        </sas-esd-modal-serial>
    {% endblock %}

    {% block sas_product_detail_esd_modal_csv %}
        <sas-esd-modal-csv
            v-if="activeModal === 'csvModal'"
            @serial-updated="updateSerials"
            @modal-close="updateSerials"
            v-model="csv"
            :esd-id="product.extensions.esd.id"
            :map-fields="{serial: 'Serial'}">
        </sas-esd-modal-csv>
    {% endblock %}

</div>
{% endblock %}
