{% sw_extends '@Storefront/storefront/page/account/_page.html.twig' %}

{% block page_account_main_content %}
    {% block page_account_downloads %}
        <div class="account-orders">
            {% block page_account_downloads_welcome %}
                <div class="account-welcome">
                    {% block page_account_downloads_welcome_headline %}
                        <h1>{{ "sasEsd.account.headline"|trans|sw_sanitize }}</h1>
                        <p>{{ "sasEsd.account.subline"|trans|sw_sanitize }}</p>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block page_account_downloads_main %}
                <div class="account-orders-main">
                    {% if esdOrders.total == 0 %}
                        {% block page_account_downloads_info_empty %}
                            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                type: "warning",
                                content: "sasEsd.account.noPurchase"|trans|sw_sanitize
                            } %}
                        {% endblock %}
                    {% else %}
                        {% block page_account_downloads_overview %}
                            <div class="account-orders-overview" data-esd-download-remaining="true">
                                <div class="account-esd-downloads">
                                    {% sw_include '@Storefront/storefront/page/account/downloads/table.html.twig' with {
                                        esdOrders: esdOrders,
                                        downloadLimits: downloadLimits,
                                        isReloadData: isReloadData
                                    } %}
                                </div>
                            </div>
                        {% endblock %}
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}

{% block base_script_router %}
    {{ parent() }}
    <script>
        window.router['frontend.account.downloads.remaining'] = '{{ path('frontend.account.downloads.remaining') }}';
    </script>
{% endblock %}
